<div class="row">
<div class="bs-example">
    <ul class="breadcrumb">
    	{{#links}}
        <li><a href="{{linkValue}}">{{linkName}}</a></li> 
        {{/links}}      
        <li class="active">{{active}}</li>
    </ul>
</div>
</div>
                            		