<div class="row">
<div class="bs-example">
    <ul class="breadcrumb">
    	{{#links}}
        <li><a href="{{linkValue}}">{{linkName}}</a></li> 
        {{/links}}      
        <li class="active">{{active}}</li>
    </ul>
</div>
</div>
<div class="row">
<div class="subnav">
    <ul class="nav nav-pills pull-right">
        <li><a href="{{citieslink}}">Cities in {{active}}</a></li>
        <li><a href="{{countieslink}}">Counties in {{active}}</a></li>
        <li><a href="{{metrolink}}">Metros in {{active}}</a></li>
        <li><a href="{{microlink}}">Micros in {{active}}</a></li>
       
    </ul>
    </div>
    </div>
                    		